/* flexbox playground
https://codepen.io/enxaneta/full/adLPwv
*/
*{
    margin: 0;
    padding: 0;
    /* incl margin padding in size */
    box-sizing: border-box;
}

body {

    background-color: #eee;
    color: #4e4544;
    font: normal 16px sans-serif;

}

#container{    
    background-color: #fff;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 60px;
    
    display: flex;
    flex-direction: column;
    
    background-color: white;
}


header{
    color: #ef5350;
    padding: 20px 0;
    margin-bottom: 60px;
    
    display: flex;
    /* items in the corner */
    justify-content: space-between;
    align-items: baseline;
}

header nav {
    list-style: none;    
    /* places li next to each other instead of under */
    display: flex;
    
}

header nav li {
    /* empty space between Logo link link*/
    margin-right: 15px;
}

header button{
    background-color: #ef5350;
    border:none;
    padding: 8px 25px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

#main-and-sidebar-wrapper{
    display: flex;
    
   
}

article{    
    text-align: center;
    margin-right: 60px;
    flex: 5;
}

article h2{
    font-size: 32px;
    margin-bottom: 55px;
}

article p{
   
    margin-bottom: 30px;
}

article img{
    width: 100%;
}


#sidebar{
    border: 1px solid #a2a2a2;
    padding: 20px;
    flex: 1;
}

footer{
    color: #ef5350;
    text-align: center;
    margin-top: 60px;

}

footer p{
    color: #777;
    font-size: 12px;
    padding: 10px;
}


@media (max-width: 600px){
    #main-and-sidebar-wrapper{
        flex-direction: column;
    }
    
    article{
        margin-right: 0px;
        margin-bottom: 60px;
    }
}



















